:root {
  --illustration-width: 500px;
  --logo-width: 260px;
  --title-font-size: 4rem;
  --primary-color: #e56f57;
  --secondary-color: #868686;
  --secondary-color-light: #8686863d;
  --text-black: #393939;
  --bg-color: white;
  --nav-bg-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-black);
  background-color: var(--bg-color);
}

html.dark {
  --illustration-width: 500px;
  --logo-width: 260px;
  --title-font-size: 4rem;
  --primary-color: #e56f57;
  --secondary-color: #ddd0d0;
  --secondary-color-light: #ddd0d0;
  --text-black: white;
  --bg-color: #0a0c10;
  --nav-bg-color: #0f1218;
  background-color: var(--bg-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.vh100 {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* height: calc(100vh - 8rem); */
}

.text-align-center {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

.home,
.about-top {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: '1 2';
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tandc {
  display: grid;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* main {
  height: calc(100vh - 8rem);
} */

.about-bottom {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: '1 2 3';
  gap: 1rem;
}

.about-us-card {
  padding: 1rem;
  border: 1px solid var(--secondary-color-light);
  border-radius: 10px;
}

.explore-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary-color);
}

.explore-link:hover {
  color: var(--primary-color);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--nav-bg-color);
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  main {
    height: 600px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    /* margin-top: 2.5rem; */
  }
  .title {
    text-align: center;
  }
  .home,
  .about-top {
    grid-template-areas: '1';
  }

  .about-bottom {
    grid-template-areas: '1';
  }

  .cta {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --title-font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
  }
}

/* animation */
@keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0px, -40px, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0px, -40px, 0);
    opacity: 0.1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
